<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container-window">
      <div class="container-header">
        <img
          class="header-logo"
          src="../static/images/logo.png"
          alt="Hogeschool Rotterdam"
        />
      </div>
      <div class="container-middle">
        <div class="login-field">
          <label for="code-input" class="label-code"
            >Vul hier je lescode in</label
          >
          <input type="text" class="code-input" name="code-input" />
          <div class="container-button">
            <input class="login-button" type="submit" value="Ga door" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
