<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Les overzicht</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container-window">
        <div class="container-header">
            <button class="header-logo-button">
              <img
                class="header-logo"
                src="../static/images/logo.png"
                alt="Hogeschool Rotterdam"
              />
            </button>
          </div>
          <div class="teacher-info-container">
            <div class="teacher-info">
              <p><strong>Les info:</strong></p>
              <p>Name: Werkplaat 3</p>
              <p>Location: collegezaal</p>
              <p>Time: 10:30 AM</p>
              <p>Date: 15-02-2023</p>
            </div>
          </div>
          
          
          <div class="table-container">
            <table class="table-style">
              <thead>
                <tr>
                  <th>Naam</th>
                  <th>Student nr.</th>
                  <th>Aanwezigheid</th>
                  <th>Tijd</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sam Moore</td>
                  <td>1039540</td>
                  <td class="aanwezig">Aanwezig</td>
                  <td>10:30</td>
                </tr>
                <tr>
                    <td>Sam Moore</td>
                    <td>1039540</td>
                    <td class="afwezig">Afwezig</td>
                    <td>10:30</td>
                  </tr>
                  <tr>
                    <td>Sam Moore</td>
                    <td>1039540</td>
                    <td class="aanwezig">Aanwezig</td>
                    <td>10:30</td>
                  </tr>
                  <tr>
                    <td>Sam Moore</td>
                    <td>1039540</td>
                    <td class="aanwezig">Aanwezig</td>
                    <td>10:30</td>
                  </tr>
                  <tr>
                      <td>Sam Moore</td>
                      <td>1039540</td>
                      <td class="afwezig">Afwezig</td>
                      <td>10:30</td>
                    </tr>
                    <tr>
                      <td>Sam Moore</td>
                      <td>1039540</td>
                      <td class="aanwezig">Aanwezig</td>
                      <td>10:30</td>
                    </tr>
                    <tr>
                      <td>Sam Moore</td>
                      <td>1039540</td>
                      <td class="aanwezig">Aanwezig</td>
                      <td>10:30</td>
                    </tr>
                    <tr>
                        <td>Sam Moore</td>
                        <td>1039540</td>
                        <td class="afwezig">Afwezig</td>
                        <td>10:30</td>
                      </tr>
                      <tr>
                        <td>Sam Moore</td>
                        <td>1039540</td>
                        <td class="aanwezig">Aanwezig</td>
                        <td>10:30</td>
                      </tr>
                      <tr>
                        <td>Sam Moore</td>
                        <td>1039540</td>
                        <td class="aanwezig">Aanwezig</td>
                        <td>10:30</td>
                      </tr>
                      <tr>
                          <td>Sam Moore</td>
                          <td>1039540</td>
                          <td class="afwezig">Afwezig</td>
                          <td>10:30</td>
                        </tr>
                        <tr>
                          <td>Sam Moore</td>
                          <td>1039540</td>
                          <td class="aanwezig">Aanwezig</td>
                          <td>10:30</td>
                        </tr>
              </tbody>
            </table>

            <div class="bottom-buttons-container">
                <button class="beamer-btn">Beamer</button>
                <button class="weizigen-btn">Weizigen</button>
                <button class="start-btn">Start</button>
                
              </div>
              
          </div>
          

        
      </div>
    </div>
  </body>
</html>
