<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container-window">
      <div class="container-header">
        <img
          class="header-logo"
          src="../static/images/logo.png"
          alt="Hogeschool Rotterdam"
        />
      </div>
      <div class="container-middle">
        <h1>Student toevoegen</h1>
        <form class="admin-add-student-form">
            <label for="admin-student-number" class="admin-add-student-label">Student nummer
                <input type="text" name="admin-student-number" class="admin-add-student-input" required>
            </label>
            <label for="admin-student-name" class="admin-add-student-label">Naam student
                <input type="text" name="admin-student-name" class="admin-add-student-input" required>
            </label>
            <label for="admin-student-email" class="admin-add-student-label">E-mail student
                <input type="text" name="admin-student-email" class="admin-add-student-input" required>
            </label>
            <div class="admin-add-student-button-container">
              <input class="admin-add-student-button" type="submit" value="Opslaan" />
            </div>
        </form>
      </div>
    </div>
      </div>
    </div>
  </body>
</html>
