{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="container-window">
        <div class="container-middle">
            <h1>Aanwezigheidstool</h1>
            {% if current_user.role == 1%}
                <a class="big-btn" href="{{url_for('presence_code')}}">Meedoen met een les <i class="fa fa-chevron-right"></i></a>
            {% endif%}
            <div class="meeting-container">
                <div class="btn-row-between">
                    <a href="{{url_for('search_meetings')}}" class="rooster-btn">Les zoeken</a>
                    
                    {% if current_user.role == 1%}
                    <a href="{{url_for('search_teachers')}}" class="rooster-btn">Docent zoeken</a>
                    {% elif current_user.role == 0%}
                    <a href="{{url_for('search_students')}}" class="rooster-btn">Student zoeken</a>
                    {% endif%}

                </div>
                <h2 class="container-title">Komende lessen</h2>
                {% for meeting in meetings%}
                    <a class="meeting-container-item" href="/les/overzicht/{{meeting.meeting_code}}">
                        <p class="meeting-item-date">{{meeting.date}}</p>
                        <div class="meeting-item-header">
                            <p>{{meeting.name}}</p>
                            <p>{{meeting.start_time}} - {{meeting.end_time}}</p>
                        </div>
                        <div class="meeting-item-content">
                            <div>
                                <span>Klassen:</span>
                                {% for group in meeting.groups%}
                                    <p class="meeting-item-group">{{group.group.name}}</p>
                                {% endfor %}
                            </div>
                            <div>
                                <span>Docenten:</span>
                                {% for teacher in meeting.teachers%}
                                    <p class="meeting-item-teacher">{{teacher.teacher.full_name}}</p>
                                {% else %}
                                    Nog geen docenten
                                {% endfor %}
                            </div>
                        </div>
                    </a>
                {%else%}
                <p>Geen komende lessen</p>
                {%endfor%}
                <a class="small-btn" href="{{ url_for('rooster')}}">Rooster</a>
            </div>
        </div>
    </div>
    <script>
        $('.meeting-item-date').each(function(index, element) {
            let date = $(this).text()
            let day = dayjs(date).format('dddd D MMMM YYYY')
            $(this).text(day)
        });
    </script>
{% endblock %}