<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Les overzicht</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container-window">
        <div class="container-header">
            <button class="header-logo-button">
              <img
                class="header-logo"
                src="../static/images/logo.png"
                alt="Hogeschool Rotterdam"
              />
            </button>
          </div>
          <div class="teacher-info-container"></div>
          <script>
            fetch("/api/next_meeting")
              .then(response => response.json())
              .then(data => {
                const teacherInfoContainer = document.querySelector(".teacher-info-container");
        
                if (data.next_meeting) {
                  const meetingName = data.next_meeting.name;
                  const meetingDate = new Date(data.next_meeting.date).toLocaleDateString();
                  const meetingStartTime = data.next_meeting.start_time;
                  const meetingEndTime = data.next_meeting.end_time;
        
                  teacherInfoContainer.innerHTML = `
                    <div class="teacher-info">
                      <h2>Next Meeting</h2>
                      <p><strong>${meetingName}</strong></p>
                      <p>Date: ${meetingDate}</p>
                      <p>Time: ${meetingStartTime} - ${meetingEndTime}</p>
                    </div>
                  `;
                } else {
                  teacherInfoContainer.innerHTML = `
                    <div class="teacher-info">
                      <h2>No Upcoming Meetings</h2>
                    </div>
                  `;
                }
              })
              .catch(error => console.error(error));
          </script>
          
          <div class="table-container">
            <table class="table-style">
              <thead>
                <tr>
                  <th>Naam</th>
                  <th>Student nr.</th>
                  <th>Aanwezigheid</th>
                  <th>Tijd</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Sam Moore</td>
                  <td>1039540</td>
                  <td class="aanwezig">Aanwezig</td>
                  <td>10:30</td>
                </tr>
              </tbody>
            </table>

            <div class="bottom-buttons-container">
                <button class="beamer-btn">Beamer</button>
                <button class="weizigen-btn">Weizigen</button>
                <button class="start-btn">Start</button>
                
              </div>
              
          </div>
          

        
      </div>
    </div>
  </body>
</html>
