{% extends 'base.html' %}
{% block content %}
    <div class="container-window">
      <div class="container-header">
        <img
          class="header-logo"
          src="../static/images/logo.png"
          alt="Hogeschool Rotterdam"
        />
      </div>
      <div class="container-middle">
        <form method="POST">
          <div class="login-field">
            <label for="username" class="label-login">Gebruikersnaam</label>
            <input class="login-input" type="text" name="username" required />
            <label for="password" class="label-password label-login"
              >Wachtwoord</label
            >
            <input
              class="login-input"
              type="password"
              name="password"
              required
            />
            <div class="container-button">
              <input class="login-button" type="submit" value="Login" />
            </div>
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript">
      const hamburger = document.getElementById("hamburger");
      hamburger.style.display = "none"
    </script>
{% endblock %}
