{% extends "base.html" %}
{% block title %}Overview{% endblock %}

{% block content %}
<div class="container-window"> 
    <table class= "table-my-overview" cellspacing="25" cellpadding="0">
        <tbody>
            <tr>
                <td><span class="name"> Naam:</span></td>
                <td><span class="name_input"> {{student.full_name}}</span></td>
            </tr>
            <tr>
                <td><span class="studentnumber"> Studentnummer:</span></td>
                <td><span class="studentnumber_input"> {{student.student_number}}</span></td>
            </tr>
            <tr>
                <td><span class="class"> Klas:</span></td>
                <td> 
                    {% for group in student.groups%}
                    <span> {{group.group.name}} </span>
                    {% endfor%}
                </td>
            </tr>
            <tr>
                <td> 
                    <span class="e-mail"> E-mailadres:</span>
                </td>
                <td> 
                    <span class="mail_input"> {{student.user.email}}</span>
                </td>
            </tr>
            <tr>
                <td><a class="student-link" href="{{ url_for('profile')}}">Naar profiel</a></td>
                <td><a class="student-link" href="{{ url_for('student_history', student_number=student.student_number)}}">Naar aanwezigheid</a></td>
            </tr>
        </tbody>
    </table>
    <div class="presence-stats">
        <div class="chart-container">
            <canvas class="my-chart"></canvas>
        </div>
        <div class="details">
            <script> var count_true =0
                var count_false = 0 
            </script>
            {% for meeting in meetings%}
            {% if meeting.present %}
            <script> count_true++ </script>
                {% else %}
                <script> count_false++ </script>
                {%endif%}
            {% endfor%}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        console.log(count_true, count_false)
        var total = count_true + count_false
        var true_procent = (count_true/total)*100
        var false_procent =(count_false/total)*100
        console.log (true_procent, false_procent)
        
        const chartData = {
            labels: ["Aanwezig", "Afwezig"],
            data: [true_procent, false_procent],
        }

        const myChart = document.querySelector(".my-chart");

        new Chart(myChart, {
            type: "doughnut",
            data: {
                labels: chartData.labels,
                datasets: [
                    {
                        data: chartData.data,
                    }
                ]
            }
        });
     </script>
</div>
{% endblock %}