{% extends "base.html" %}
{% block title %}Rooster{% endblock %}

{% block content %}
    {% set time_list = ['8:00','9:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00','17:00','18:00','19:00','20:00','21:00','22:00','23:00'] %}
    {% set day_list = ['Maandag','Dinsdag','Woensdag','Donderdag','Vrijdag', 'Zaterdag', 'Zondag'] %}

    {% if current_user.role == 0 %}
    <!-- only show if user is a teacher -->
    <div id="popup" class="popup" style="display: none">
        <div class="popup-container">
            <h1>Nieuwe bijeenkomst</h1>
            <form id="new-meeting">
                <div class="form-row">
                    <label>Bijeenkomst naam</label>
                    <input class="form-input" type="text" name="name" id="name-input" required>
                </div>
                <div class="form-row">
                    <label>Beschrijving (optioneel)</label>
                    <textarea class="form-input" type="text" name="description" id="description-input"></textarea>
                </div>
                <div class="form-row">
                    <label>Klas / Klassen:</label>
                    <!-- Groups are added in here with ajax request  -->
                    <select class="group-select" name="groups[]" multiple="multiple" id="group-input">
                    </select>
                </div>
                <div class="form-row">
                    <label>Docent / Docenten:</label>
                    <!-- Groups are added in here with ajax request  -->
                    <select class="group-select" name="teachers[]" multiple="multiple" id="teacher-input">
                    </select>
                </div>
                <div class="form-row">
                    <label>Vraag aan studenten</label>
                    <input class="form-input" type="text" name="text" id="question-input"> 
                </div>
                <div class="form-row">
                    <label>Begin / eind tijd</label>
                    <div>
                        <select class="form-select date-change" name="start_time" id="start-input" required>
                            {% for time in time_list%}
                                <option value="{{ time }}">{{ time }}</option>
                            {% endfor%}
                        </select>
                        <select class="form-select date-change" name="end_time" id="end-input" required>
                            {% for time in time_list%}
                                {% if time != '8:00'%}
                                    <option value="{{ time }}">{{ time }}</option>
                                {%endif%}
                            {% endfor%}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <label>Datum</label>
                    <div>
                        <input class="form-date date-change" type="date" name="date" id="date-input" required>
                    </div>
                </div>
                <!-- Displays chosen date and time -->
                <div id="selectedDate"></div>
                <!-- Displays errors in the form  -->
                <div id="form-error" class="error"></div>
                <input class="form-submit" type="submit" value="Opslaan" id="meeting-submit">
            </form>
        </div>
    </div>
    {% endif %}

    <div class="rooster-wrapper"> 
        <section class="rooster-container">
        

            {% if current_user.role == 0 %}
            <!-- only show if user is a teacher -->
            <div class="rooster-extra">
                <a href="{{url_for('search_meetings')}}" class="rooster-btn">Les zoeken</a>

                <a id="new-meeting-btn" class="rooster-btn">+ Bijeenkomst toevoegen</a>
                <!-- <div class="filter-box">
                    <p class="filter-text">Filteren op klas:</p>
                    <select class="group-select" name="group" id="group-filter">
                        
                    </select>
                </div> -->
            </div>
            {% endif %}
            <div class="date-selection-row">
                <div id="previous-btn" class="change-week-btn"><i class="fa fa-chevron-left" style="font-size:15px"></i></div><input class="rooster-calendar" type="date" id="week-calendar" onfocus="this.showPicker()" value=""/><div id="next-btn" class="change-week-btn reverse"><i class="fa fa-chevron-right" style="font-size:15px"></i></div>
            </div>
            <div class="rooster-day-row">
                <div>
                    <p class="rooster-time-title">Week <span id="week-number"></span></p>
                    <section class="rooster-table">
                        {% for time in time_list%}
                        <div class="rooster-row">
                            <div class="rooster-time-text">{{time}}</div>
                        </div>
                        
                        {% endfor %}
                        

                    </section>
                </div>
                {% for day in day_list%}

                    <div class="rooster-day">
                        <p class="rooster-day-title">{{day}} <span id="day-{{ loop.index }}" class="rooster-day-number">{{ loop.index }}</span></p>
                        <section class="rooster-table">
                            {% for time in time_list%}
                            <div class="rooster-row">
                        
                            </div>
                            {% endfor %}
                            <div class="rooster-content" id="rooster-content-{{loop.index}}">
                                <!-- <div class="rooster-content-item">
                                    <div>
                                        <p class="rooster-content-item-title">Les 1</p>
                                        <p class="rooster-content-item-text">8:00 - 9:00</p>
                                    </div>
                                    <p class="rooster-content-item-text">Docent</p>
                                </div> -->
                            </div>
                        </section>
                    </div>
                {% endfor %}

            </div>
        </section>
    </div>
    <script type="application/javascript">

        if(dayjs().day() == 0){
            // If today is sunday use -6 for monday and 0 for sunday to prevent wrong week data
            var currentWeekMonday = dayjs().day(-6).format('YYYY-MM-DD')
            var currentWeekSunday = dayjs().day(0).format('YYYY-MM-DD')
        }else{
            var currentWeekMonday = dayjs().day(1).format('YYYY-MM-DD')
            var currentWeekSunday = dayjs().day(7).format('YYYY-MM-DD')
        }

        var today = dayjs().format('YYYY-MM-DD');


        // <======= Meeting popup ========>
        // set new meeting popup date to today on load
        $('#date-input').val(today)

        function toggleNewMeetingPopup(){
            $('#popup').toggle();
        }

        $('#new-meeting-btn').click(function(){
            toggleNewMeetingPopup()
        })

        $('#popup').click(function(e){
            // check if the click is on the background or the popup 
            if (e.target == this){
                toggleNewMeetingPopup()
            }
        })

        $('.date-change').on('change', function (e) {
            let start = $('#start-input').val()
            let end = $('#end-input').val()
            let date = $('#date-input').val()
            date = dayjs(date).format('dddd D MMMM YYYY');
            $('#selectedDate').text(`${date} van ${start} tot ${end}`);
            console.log("group(s):", $('#group-input').val())

        });

        // AJAX request to save new meetings
        $("#meeting-submit").click(function (e)
        {
            e.preventDefault();

            // check if the input is valid using a 'valid' property
            var groups = $('#group-input').val()
            var teachers = $('#teacher-input').val()

            var meeting = {
                name : $('#name-input').val(),
                start_time : $('#start-input').val(),
                end_time : $('#end-input').val(),
                date : $('#date-input').val(),
                description : $('#description-input').val(),
            }

            $.ajax({
                method: "POST",
                url: "/api/meeting/", 
                data : JSON.stringify(meeting),
                contentType: "application/json",
                dataType: 'json',
                beforeSend: function() {     
                    // check if all input fields are filled           
                    $empty = $('#new-meeting').find("input").filter(function() {
                        return this.value === "";
                    });


                    if($empty.length) {
                        $('#form-error').text("Vul alle vereiste velden in")
                        return false;
                    }else{
                        // check if start and end time are valid
                        if(parseInt(formatTimeToNumber(meeting.start_time))<parseInt(formatTimeToNumber(meeting.end_time))){
                            // check if selected day is not before today
                            if(meeting.date>=today){
                                return true
                            }else{
                                $('#form-error').text("De datum kan niet voor vandaag zijn")
                                return false
                            }
                        }else{
                            $('#form-error').text("De begin tijd kan niet hoger zijn dan de eind tijd")
                            return false
                        }
                    };
                },
                success:function(result)
                {
                    // close popup
                    toggleNewMeetingPopup()
                    console.log(result);
                    console.log("meeting id: ",result.meeting.id)
                    // UPDATE: add all groups connected to this meeting to db
                    for(group of groups){
                        addGroupToMeeting(group, result.meeting.id)
                    }
                    for(teacher of teachers){
                        addTeacherToMeeting(teacher, result.meeting.id)
                    }
                    addQuestionToMeeting($('#question-input').val(), result.meeting.id)

                    // reset form popup data
                    $('#name-input').val(""),
                    $('#description-input').val(""),
                    $('#question-input').val("")
                    $('#group-input').val([])
                    $('#teacher-input').val([])
                    $('#date-input').val(today)
                    $('#start-input').val("8:00"),
                    $('#end-input').val("9:00"),
                    // remove selected elements from group, teacher select
                    document.getElementById("select2-group-input-container").innerHTML = ''
                    document.getElementById("select2-teacher-input-container").innerHTML = ''

                    // UPDATE: groups need to be implemented, now default group ( does nothing for now)
                    getMeetings(currentWeekMonday, currentWeekSunday, 'group 1')
                },
                error : function(request,error){
                    alert("request failed", error);
                }
            });
        });

        function addQuestionToMeeting(text, meetingId){
            var questionMeeting = {
                text : text,
                meeting_id : meetingId
            }

            $.ajax({
                method: "POST",
                url: "/api/question/", 
                data : JSON.stringify(questionMeeting),
                contentType: "application/json",
                dataType: 'json',
            });
        }

        // add group to meeting
        function addGroupToMeeting(groupId, meetingId){
            var groupMeeting = {
                group_id : groupId,
                meeting_id : meetingId
            }

            $.ajax({
                method: "POST",
                url: "/api/groupmeeting",
                data : JSON.stringify(groupMeeting),
                contentType: "application/json",
                dataType: 'json',
                success:function(result)
                {
                    console.log("group added: ", result)
                },
                error : function(request,error){
                    alert("request failed", error);
                }
            });
        }

        function addTeacherToMeeting(teacherId, meetingId){
            var teacherMeeting = {
                teacher_id : teacherId,
                meeting_id : meetingId
            }

            $.ajax({
                method: "POST",
                url: "/api/teachermeeting",
                data : JSON.stringify(teacherMeeting),
                contentType: "application/json",
                dataType: 'json',
                success:function(result)
                {
                    console.log("teacher added: ", result)
                },
                error : function(request,error){
                    alert("request failed", error);
                }
            });
        }
        // <======= ============ ========>

        // AJAX request to get meetings
        function getMeetings(startDate, endDate, group){
            console.log(startDate, endDate, group)
            $.ajax({ 
                type: "GET",
                url: "/api/meeting/between/"+startDate+"/"+endDate,
                contentType: "application/json",
                dataType: "json",  
                success: function(response_data){
                    console.log(response_data);
                    for(item of response_data.result){
                        // console.log(item.id, item)
                        // Get element of created lesson block and add the teachers to it
                        element = createLessonBlock(day=dayjs(item.date).day(), name=item.name, start_time=formatTimeToNumber(item.start_time), end_time=formatTimeToNumber(item.end_time), meeting_code=item.meeting_code)
                        getTeachersForMeeting(item.id, element);

                    }
                },
                error : function(request,error){
                    console.log(request)
                }
            })
        }
        groupsArray = []
        // AJAX request to get groups
        function getGroups(){
            $.ajax({ 
                type: "GET",
                url: "/api/group",
                contentType: "application/json",
                dataType: "json",  
                success: function(response_data){
                    console.log(response_data);
                    for(item of response_data.result){
                        // console.log(item.id, item)
                        groupsArray.push(item)
                    }
                },
                error : function(request,error){
                    console.log(request)
                }
            }).then(function(){
                console.log("groups: ", groupsArray)
                for(group of groupsArray){
                    // add groups to places where a list of all groups is needed 
                    let html_block = `<option value="${group.id}">${group.name}</option>`

                    let formgroup = $("#group-input").append(html_block);
                    let filtergroup = $("#group-filter").append(html_block);
                }
                $('#group-input').select2();
                $('#group-filter').select2();
            })
        }
        getGroups()

        teachersArray = []
        function getTeachers(){
            $.ajax({ 
                type: "GET",
                url: "/api/teacher",
                contentType: "application/json",
                dataType: "json",  
                success: function(response_data){
                    console.log(response_data);
                    for(item of response_data.result){
                        // console.log(item.id, item)
                        teachersArray.push(item)
                    }
                },
                error : function(request,error){
                    console.log(request)
                }
            }).then(function(){
                console.log("teachers: ", teachersArray)
                for(teacher of teachersArray){
                    // add groups to places where a list of all groups is needed 
                    let html_block = `<option value="${teacher.id}">${teacher.first_name} ${teacher.last_name}</option>`

                    let formgroup = $("#teacher-input").append(html_block);
                }
                $('#teacher-input').select2();
            })
        }

        function getTeachersForMeeting(meeting_id, element){
            teachers = []
            $.ajax({ 
                type: "GET",
                url: "/api/teachermeeting/"+meeting_id,
                contentType: "application/json",
                dataType: "json",  
                success: function(response_data){
                    teachers = response_data.result
                    return teachers
                },
                error : function(request,error){
                    console.log(request)
                }
            }).then(function(value){
                // Add teachers to correct meeting
                element.find('.docent-text').text(teachers)
                if(teachers == ''){
                    element.find('.docent-text').text("Nog geen docenten")

                }
            })
        }

        // remove meetings from calendar
        function removeMeetings(){
            for(let i = 1; i<=7 ; i++){
                dayContainer = document.getElementById("rooster-content-"+i);
                dayContainer.innerHTML = ''
            }
        }
        getTeachers()

        // format time from HH:MM to H
        function formatTimeToNumber(time){
            // Use mockup date to be able format time to 9 or 10 instead of "9:00" or "10:00"
            hour = dayjs('2000-01-01T'+time).format('H')
            return hour
        }

        // set start week on calendar when first loaded
        function setCalendarDate(date) {
            document.getElementById('week-calendar').value = date;
        }
        setCalendarDate(today);

        // update weeknumber in html
        function updateWeekNumber(number){
            $('#week-number').text(number)
        }

        // sets active day of week on calendar
        function setActiveCalendarDay(date){
            $('.rooster-day-number').removeClass('active');

            let selectedDay = dayjs(date).day()
            if(selectedDay == 0){
                // if day is 0 it is sunday so set it to 7
                selectedDay = 7
            }

            $('#day-'+selectedDay).addClass('active')
        }

        // sets day numbers on calendar & updates the start and end day variables of the selected week
        function setWeekDayNumbers(date){
            // Update variables of start and end day of week
            if(dayjs(date).day() == 0){
                // If today is sunday use -6 for monday and 0 for sunday to prevent wrong week data
                currentWeekMonday = dayjs(date).day(-6).format('YYYY-MM-DD')
                currentWeekSunday = dayjs(date).day(0).format('YYYY-MM-DD')
            }else{
                currentWeekMonday = dayjs(date).day(1).format('YYYY-MM-DD')
                currentWeekSunday = dayjs(date).day(7).format('YYYY-MM-DD')
            }

            // set correct day number in html calendar
            // if day == 0 it is sunday, so go back to monday so to day 1
            if(dayjs(date).day() == 0){
                for(let i = 1; i<=7 ; i++){
                    let day_number = dayjs(date).day(-6).weekday(i).$D
                    $('#day-'+i).text(day_number)
                }
            }else{
                for(let i = 1; i<=7 ; i++){
                    let day_number = dayjs(date).weekday(i).$D
                    $('#day-'+i).text(day_number)
                }
            }
        }

        // if calendar changes update the week in html
        $(document).ready(function(){
            $("#next-btn").click(function(){
                let value = $("#week-calendar").val();
                value = dayjs(value).add(7, 'day').format('YYYY-MM-DD');
                setCalendarDate(value)

                refreshCalendar(value)
            })

            $("#previous-btn").click(function(){
                let value = $("#week-calendar").val();
                value = dayjs(value).subtract(7, 'day').format('YYYY-MM-DD');
                setCalendarDate(value)

                refreshCalendar(value)
            })

            $('#week-calendar').on('change', function (e) {
                let value = $("#week-calendar").val();

                refreshCalendar(value)
            });

        });

        function refreshCalendar(value){
            setActiveCalendarDay(value);
            setWeekDayNumbers(value);
            updateWeekNumber(dayjs(value).week())
            // remove meetings
            removeMeetings()
            // fill the new meetings
            getMeetings(currentWeekMonday, currentWeekSunday, 'group 1')
        }
        // fill calendar with data on load
        refreshCalendar(today)

        // function to create a lesson block
        function createLessonBlock(day, name, start_time, end_time, meeting_code){
            // console.log(day, name, start_time, end_time, meeting_code);

            // if day == 0 set it to 7 so that it is sunday
            if(day == 0){
                day = 7
            }
            // each hour is 100px
            let block_height = 100;
            // each lesson block is 90px in height
            let lesson_height = 90;
            // extra spacing for each block
            let block_spacing = 5
            // html code for a lesson
            let html_block = $(`                                 
                <a class="rooster-content-item" href="/les/overzicht/${meeting_code}" data-meeting-code="${meeting_code}">
                    <div>
                        <p class="rooster-content-item-title">${name}</p>
                        <p class="rooster-content-item-text">${start_time}:00 - ${end_time}:00</p>
                    </div>
                    <p class="rooster-content-item-text docent-text" >Docent</p>
                </a>
            `);
            // add lesson to html   
            let parent = document.getElementById("rooster-content-"+day);
            let element = $(parent).append(html_block);

            // this is the first time that is display on the rooster
            let rooster_first_time = 8
            // calculate top position on rooster
            let jump_blocks = start_time-rooster_first_time;
            let top_pos = jump_blocks*block_height;
            top_pos = top_pos+block_spacing;
            html_block.css({ top: top_pos+'px' });

            // calculate height of lesson block
            let lesson_blocks = end_time-start_time
            // calculate extra height, this is the space that is normally between lesson blocks
            let extra_height = (block_spacing*2)*(lesson_blocks-1)
            let height = lesson_blocks * lesson_height + extra_height;
            html_block.css({ height: height+'px' });

            return html_block
        }

    </script>
{% endblock %}
