{% extends "base.html" %}
{% block title %}Nieuw wachtwoord{% endblock %}

{% block content %}
    <!-- User can reset password with password reset link -->
    <div class="container-window">
        <div class="container-middle">
            <form action="/wachtwoord/nieuw/{{code}}" method="POST">
                
                <div class="login-field">
                    <input type="hidden" name="code" value="{{ code }}">
                    <label for="username" class="label-login">Nieuw wachtwoord</label>
                    <input class="login-input" type="password" name="password" required />

                    <label for="password" class="label-password label-login">Herhaal nieuwe wachtwoord</label>
                    <input class="login-input" type="password" name="password_confirm" required/>
                    
                    <div class="container-button">
                        <input class="login-button" type="submit" value="Opslaan" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}