{% extends "base.html" %}
{% block title %}Studenten Overzicht{% endblock %}

{% block content %}
    
    <div class="overview-btn-row">
        <a href="{{url_for('search_meetings')}}" class="overview-btn">Lessen</a>
        <a href="{{url_for('search_students')}}" class="overview-btn active">Studenten</a>
        <a href="{{url_for('search_groups')}}" class="overview-btn">Klassen</a>
        <a href="{{url_for('search_teachers')}}" class="overview-btn">Docenten</a>
    </div>


    <div class="overview-search-top">
        <h2>Zoeken van studenten:</h2>
        <input type="text" id="search-field" class="form-input search-field-input">
    </div>
    <div class="overview-search-container">
        <table class="search-table">
            <thead>
                <tr>
                    <th>Student nummer</th>
                    <th>Voornaam</th>
                    <th>Achternaam</th>
                </tr>
            </thead>
            <tbody id="search-container">
            </tbody>
        </table>

    </div>


    <script>
        // check for filter update
        $('#search-field').keyup( function (e) {
            let filter = $(this).val()
            if( filter != ""){
                $.ajax({
                    method: "GET",
                    url: "/api/student/filter/"+filter,
                    contentType: "application/json",
                    dataType: 'json',
                    success:function(result)
                    {   
                        console.log(result)
                        $("#search-container").html("")
                        if(result.result.length>0){
                            console.log(result.result)
                            for( item of result.result){
                                addStudent(item)
                            }
                        }else{
                            $("#search-container").text("Geen resultaten")
                        }
                    },
                    error : function(request,error){
                        alert("request failed", error);
                    }
                });                
            }else{
                // no filter in input, show limited students by limit variable
                getStudentsWithLimit(20)
            }

        });

        function addStudent(student){
            // console.log("student: "+student.id)
     
            let html_block = $(`                                 
                <tr>
                    <td><a class="student-link" href="/overzicht/${student.id}">${student.student_number}</a></td>
                    <td>${student.first_name}</td>
                    <td>${student.last_name}</td>
                </tr>
            `);

            // add lesson to html   
            let parent = document.getElementById("search-container");
            let element = $(parent).append(html_block);
        }

        function getStudentsWithLimit(limit){
            $.ajax({
                method: "GET",
                url: "/api/student/limit/"+limit,
                contentType: "application/json",
                dataType: 'json',
                success:function(result)
                {   
                    console.log(result)
                    $("#search-container").html("")
                    if(result.result.length>0){
                        for( item of result.result){
                            addStudent(item)
                        }
                    }else{
                        $("#search-container").text("Geen resultaten")
                    }

    
                },
                error : function(request,error){
                    alert("request failed", error);
                }
            });       
        }
        // onload fill page with meetings
        getStudentsWithLimit(30)
        
    </script>
{% endblock %}