{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="container-window-welcome">
        <div class="container-middle-welcome">
    <p class="welcome">Fijn dat je er bent! </p>
    <div class="question"> Uitgerust vandaag?</div>
        <form action="/send_answer" method="POST"></form>
        <textarea class="textarea_answer"></textarea>
        <div class="container-btn-welcome">
        <input class="save_button" type="submit"  value="Klaar" />
    </div>
    </div>
</div>
{% endblock %}